@keyframes button {

    0% {
        background-color: $article-background-color;
    }

    100% {
        background-color: $section-article-background-color;
    }

}

@keyframes button-active{
    0% {
        background-color: $section-article-background-color;
        color:$text-grey;
    }
    
    100% {
        background-color: $section-header-background-color;
        color:$article-background-color;
    }
}