$header-background-color: rgb(251,67,67);
$article-background-color: rgb(250,248,247);
$section-header-background-color: rgb(51,102,102);
$section-article-background-color: rgb(177,196,196);
$shadow:  rgba(5,4,4,0.2);
$text-grey: rgb(83,92,92);
$cat-yellow:rgb(251,170,21);
$cat-dark-yellow:rgb(153,102,0);

$animation-width: 665px;
$animation-height: 440px;

$mobile-ratio: 2.2;