
.section--header {
    background-color: $section-header-background-color;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40vh;
    width: 100vw;

    @include tablet{
        height: 40vh;
    }

    @include desktop{
        height: 50vh;
    }

    @include large-desktop{
        height: 50vh;
    }

    @include xlarge-desktop{
        height: 50vh;
    }

}

.section--article {
    background-color: $section-article-background-color;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 60vh;

    @include tablet{
        height: 60vh;
    }

    @include desktop{
        height: 50vh;
    }

    @include large-desktop{
        height: 50vh;
    }

    @include xlarge-desktop{
        height: 50vh;
    }
}