.btn {
    @include font-cormorant-normal;
    text-decoration: none;
    text-align: center;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid $text-grey;
    box-shadow: 0 2px 4px -2px $shadow;

    &:hover{
        animation: button 1s forwards;
        animation-play-state: running;
    }

    &:active{
        animation: button-active 0.5s;
    }
}
